h1{
	width: 528px;
	height: 195px;
	left: 152px;
	top: 154px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	line-height: 130.19%;

	color: #0055FF;
	}

	p{
	width: 470px;
	height: 102px;
	left: 152px;
	top: 366px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 187%;

	color: #1D293F;
	}
	input{

	width: 297px;
	height: 62px;
	left: 152px;
	top: 488px;

	border: 1px solid rgba(64, 61, 86, 0.73);
	box-sizing: border-box;
	border-radius: 5px;

	}
	button{

	width: 180px;
	height: 62px;
	left: 458px;
	top: 488px;

	background: #0055FF;
	border-radius: 5px;

	}
	.how{

	width: 196px;
	height: 26px;
	left: 735px;
	top: 682px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 130.19%;

	color: #1D293F;


	}
	.icons{

	width: 244px;
	height: 26px;
	left: 735px;
	top: 844px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 130.19%;s

	color: #0055FF;

	}
	.icons{
	  float: left;
	}
	.p{

	width: 244px;
	height: 26px;
	left: 735px;
	top: 844px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 130.19%;

	color: #0055FF;


	}
	.Sneak{

	width: 332px;
	height: 26px;
	left: 554px;
	top: 1413px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 130.19%;

	color: #1D293F;

	}
	.notified{

	width: 251px;
	height: 26px;
	left: 595px;
	top: 2122px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 130.19;

	color: #1D293F;

	}
	.rights{

	width: 217.15px;
	height: 23px;
	left: 612.42px;
	top: 2381px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 165.19%;

	color: #1D293F;

	}

	.topnav {
		background-color: ;
		overflow: hidden;
		color: blue;

	  }
	  .topnav a {
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	  }
	.split{

	width: 554px;
	height: 483px;
	float: left;
	}

	*{
	  width: 100%;
	}        