:root {
	--primary-color: #d4145a;
	--secondary-color: #a5134e;
}

@font-face {
	font-family: "Gilroy";
	src: url("../assets/fonts/Gilroy-Light.otf");
}

@mixin mq($arg) {
	@media screen and (max-width: $arg) {
		@content;
	}
}

body {
	background-color: #f9f9f9;
	font-family: "Gilroy" !important;
	margin: 0;
	font-size: 15px;

	.fs-sm {
		font-size: 13px;
	}
}

#wrapper {
	display: flex;
	position: relative;
	top: 90px;
}

#sidebar {
	background-color: #ffffff;
	width: 200px;
	box-shadow: 0.997793px 1.99559px 32px -10px rgba(230, 22, 98, 0.05);
	height: 100%;
	position: fixed;
	bottom: 0;
	z-index: 3;
	transition: 0.5s;

	&.active {
		width: 80px;
		.menu-label {
			opacity: 0;
		}
		.menu-icon {
			width: auto !important;
		}
		.logo-lg {
			display: none !important;
		}
		.logo-sm {
			display: inline-block !important;
		}
	}

	@include mq(768px) {
		left: -200px;
		.logo-sm {
			display: none !important;
		}
		.logo-lg {
			display: none !important;
		}
		&.active {
			left: 0;
			width: 200px;
			.menu-label {
				display: inline-block;
				opacity: 1;
			}
			.menu-icon {
				width: 30px !important;
			}
			.logo-sm {
				display: none !important;
			}
			.logo-lg {
				display: inline-block !important;
			}
		}
	}

	#content-nav {
		background-color: #ffffff;
		height: 90px;
		display: flex;
		align-items: center;
		padding: 2em;
		padding-left: 1.5em;
		position: fixed;
		right: 0;
		left: 0;
		z-index: 4;

		> #logo {
			display: flex;
			position: relative;
			justify-content: space-between;
			align-items: center;
			width: 82px;
			> .logo-sm {
				display: none;
			}
			#hamburger {
				position: relative;
				top: 3px;
				margin-left: 1em;
				cursor: pointer;

				i {
					font-size: 1.5em;
				}
			}
		}

		#nav-menu {
			display: none;
			position: relative;
			left: 7em;

			ul {
				list-style: none;
				padding: 0;
				display: inline-flex;

				li a {
					color: var(--primary-color);
					font-weight: bold;
					font-size: 17px;
					position: relative;
					top: 2px;
					margin: 0 1em;
					padding-bottom: 30px;
					cursor: pointer;

					&.active {
						border-bottom: 3px solid var(--primary-color);
					}
				}
			}
		}

		> #nav-widget {
			margin-left: auto;
			display: flex;
			align-items: center;

			#search-bar {
				padding: 0.8em;
				margin: 0 1em;
				width: 300px;
				border: 1px solid #ddd;
				border-radius: 3px;
				outline: none !important;
				display: none;

				&:focus {
					box-shadow: 0px 0px 3px #ddd;
				}
			}

			.notification-wrapper {
				position: relative;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				height: 32px;
				width: 32px;
				border-radius: 50%;
				background-color: var(--primary-color);
				margin: 0 5px;
				cursor: pointer;

				i {
					font-size: 1em;
					color: #ffffff;
				}

				&.active::after {
					position: absolute;
					content: "";
					height: 12px;
					width: 12px;
					border-radius: 50%;
					background-color: var(--primary-color);
					right: -3px;
					top: -1px;
					border: 2.5px solid #fff;
				}
			}

			> #nav-userprofile {
				cursor: pointer;
				display: inline-flex;
				align-items: center;
				margin-left: 15px;

				.avatar {
					height: 50px;
					width: 50px;
					border-radius: 50%;
				}

				> #username {
					margin: 0 10px 0;
					font-family: inherit;
					font-size: 1em;
					font-weight: bold;

					> small {
						line-height: 2em;
						color: var(--primary-color);
					}
				}
			}
		}
	}

	i {
		font-size: 1.5em; // set all icons in the sidebar to a certain size
	}

	#menu-list {
		padding: 0;
		margin-top: 5em;
		list-style: none;
		top: 40px;
		position: relative;

		li {
			margin-bottom: 1em;
			padding: 0.8em 2em;
			font-weight: bold;
			letter-spacing: 0.5px;
			transition: 0.3s;

			> a {
				text-decoration: none;
				color: inherit;
				vertical-align: top;
				text-align: center;
				display: inline-flex;

				> .menu-icon {
					display: inline-block;
					width: 30px;
					margin: auto;
					i.bx {
						display: none;
					}
					img {
						margin-right: 10px;
						width: 18px;
					}
				}

				> .menu-label {
					transition: 0.3s;

					font-size: 1.1em;
					vertical-align: text-top;
				}
			}

			&.active,
			&:hover:not(.logout) {
				> a {
					> .menu-icon img {
						filter: invert(100%) contrast(200%);
					}
				}
				color: #ffffff;
				background-color: var(--primary-color);
			}
		}
	}
}

#content {
	position: absolute;
	left: 200px;
	bottom: 0;
	top: 0;
	right: 0;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: 0.5s;

	&.active {
		left: 80px;
	}

	.pointer-cursor {
		cursor: pointer;
	}

	@include mq(768px) {
		left: 0px;
		&.active {
			left: 0px;
		}
	}

	> #content-body {
		padding: 2em;

		// bootstraps classes overridden
		.nav-pills .nav-link {
			color: var(--primary-color);
			font-size: 1.2em;
		}

		.nav-pills .nav-link.active,
		.nav-pills .show > .nav-link {
			background-color: var(--primary-color) !important;
			color: #fff !important;
		}

		.dropdown-menu {
			width: 200px;
			&.show {
				left: -170px !important;
				margin-top: 10px;
				&::before {
					position: absolute;
					content: "";
					border: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom-color: black;
					top: -20px;
					right: 8px;
				}

				&::after {
					border: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom-color: white;
					content: "";
					position: absolute;
					right: 8px;
					top: -20px;
				}
			}
		}

		.dropdown-item {
			padding: 12px 18px !important;
			display: grid !important;
			position: relative;
			font-size: 14px;
			font-weight: bolder;
			&.active {
				background-color: transparent;
				&::before {
					position: absolute;
					content: "";
					width: 1%;
					height: 100%;
					left: 0;
					background-color: var(--primary-color);
					z-index: 4;
				}
				&::after {
					position: absolute;
					content: "";
					width: 100%;
					height: 100%;
					left: 0;
					background-color: var(--primary-color);
					filter: opacity(15%);
				}
				color: black;
			}
		}

		.btn {
			font-size: 14px !important;
			padding: 1em 2em !important;
			&-primary {
				background-color: var(--primary-color);
				color: #fff !important;
			}
		}
		// end of bootstraps classes overridden

		@include mq(768px) {
			padding: 1em;
		}

		.card-grid {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			column-gap: 1em;

			@include mq(991px) {
				grid-template-columns: repeat(2, 1fr);
				row-gap: 1em;
			}

			@include mq(680px) {
				grid-template-columns: repeat(1, 1fr);
				row-gap: 1em;
			}

			> section {
				padding: 1em 1em 0;
				background: #ffffff;
				box-shadow: 0px 1.94206px 23.3562px -0.875859px rgba(0, 0, 0, 0.05);
				border-radius: 4.86588px;

				> p {
					padding-top: 15px;
					font-size: 14px;
				}

				.primary {
					background-color: var(--primary-color);
				}

				.blue {
					background-color: #0076ff;
				}

				.purple {
					background-color: #9b51e0;
				}

				.warning {
					background-color: #f6913b;
				}

				> .info-count {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 5px;

					> .icon {
						height: 35px;
						width: 35px;
						border-radius: 50%;
						color: white;
						display: flex;
						justify-content: center;
						align-items: center;
						i.bx {
							display: none;
						}
					}

					> .number {
						margin: 0;
						font-size: 1.8em;
						font-weight: bold;
					}
				}

				> .info-bar {
					position: relative;

					&::before {
						position: absolute;
						content: "";
						padding: 3px 0;
						width: 40%;
						border-radius: 20px;
						background-color: inherit;
						z-index: 1;
						top: 0;
					}

					&::after {
						position: absolute;
						content: "";
						padding: 3px 0;
						width: 100%;
						border-radius: 20px;
						background-color: inherit;
						filter: opacity(15%);
						top: 0;
					}
				}
			}
		}

		form {
			.form-control {
				padding: 0.7em 1em !important;
				height: auto !important;
			}
			.form-button {
				background-color: var(--primary-color);
				color: #fff;
				font-size: 0.8em;
				padding: 1em 0;
			}

			.switch {
				position: relative;
				display: inline-block;
				width: 42px;
				height: 21px;
				top: 4px;
				padding-left: 40px;
			}

			.switch input {
				opacity: 0;
				width: 0;
				height: 0;
			}

			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #ccc;
				-webkit-transition: 0.4s;
				transition: 0.4s;
			}

			.slider:before {
				position: absolute;
				content: "";
				height: 15px;
				width: 15px;
				left: 4px;
				bottom: 3px;
				background-color: white;
				-webkit-transition: 0.4s;
				transition: 0.4s;
			}

			input:checked + .slider {
				background-color: var(--primary-color);
			}

			input:checked + .slider:before {
				-webkit-transform: translateX(20px);
				-ms-transform: translateX(20px);
				transform: translateX(20px);
			}

			/* Rounded sliders */
			.slider.round {
				border-radius: 34px;
			}

			.slider.round:before {
				border-radius: 50%;
			}
		}

		#security-others,
		.modal {
			ul.nav {
				> li a {
					cursor: pointer;
					font-weight: bold;
					font-size: 17px;
					position: relative;
					margin: 0 1em;
					padding-bottom: 16px;
					&.active {
						color: var(--primary-color);
						border-bottom: 3px solid var(--primary-color);
					}
				}
			}
		}

		.modal {
			.modal-profile-info {
				width: 89%;
				border: 1px solid #e0e0e0;
				box-shadow: 0px 1.9420591592788696px 23.356245040893555px -0.8758592009544373px
					#000000 5%;
				color: #bdbdbd;
				border-radius: 3px;
			}
			ul.nav {
				background-color: #fff;
				> li a {
					font-size: 13px;
				}
			}
		}

		.campaigns-tabs {
			box-shadow: 0px 1.94206px 23.3562px -0.875859px rgba(0, 0, 0, 0.05);
			border: none !important;
			> nav {
				display: flex;
				@include mq(650px) {
					flex-wrap: wrap;
				}
				align-items: center;

				> span {
					font-weight: bolder;
					font-size: 17px;
					&:nth-child(1) {
						padding: 0.8em;
					}
					&:nth-child(2) {
						margin-left: auto;
						@include mq(650px) {
							margin-left: 0;
							width: 100% !important;
							justify-content: space-evenly;
						}
						> a {
							color: #000;
							padding: 0.8em 2em;
							display: inline-block;
							text-decoration: none !important;
							&.active {
								background-color: var(--primary-color);
								color: #fff;
							}
						}
					}
				}
			}
		}

		.campaign-ads-container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			@include mq(991px) {
				grid-template-columns: repeat(2, 1fr);
			}
			@include mq(600px) {
				grid-template-columns: repeat(1, 1fr);
			}
			gap: 2em 1em;

			> .ads {
				box-shadow: 0px 1.94206px 23.3562px -0.875859px rgba(0, 0, 0, 0.05);
				border-radius: 8px;
				padding: 1.5em;

				> .ads-header {
					padding-bottom: 0.5em;
					display: flex;
					justify-content: space-between;

					._gradient {
						cursor: pointer;
						display: flex;
						justify-content: center;
						align-items: center;
						height: 20px;
						width: 20px;
						padding: 12px;
						border-radius: 50%;
						img {
							height: 8px;
						}
						&.blue {
							background-color: #d7e7ff;
						}
						&.red {
							background-color: #fdc1c1;
						}
					}
				}

				> .ads-img {
					height: 171px;
					overflow: hidden;
					position: relative;
					> img {
						width: 100%;
						height: 171px;
					}
					> .ads-img-caption {
						position: absolute;
						left: 0;
						bottom: 10px;
						color: #fff;
						z-index: 5;
						padding-left: 1em;
						font-size: 17px;
						font-weight: bold;
					}

					&::after {
						position: absolute;
						height: 100%;
						width: 100%;
						content: "";
						background-color: rgba(0, 0, 0, 0.5);
						left: 0;
					}
				}

				> .ads-body {
					margin-top: 5px;
					span {
						font-size: 14px;
						font-weight: bold;
					}
					h6 {
						> small {
							color: var(--primary-color);
						}
						font-weight: bold;
						font-size: 14px;
					}
					.ads-link {
						text-decoration: none !important;
						padding: 0.5em 10px;
						background-color: var(--primary-color);
						color: #fff;
						font-size: 12px;
						font-weight: bold;
						align-self: center;
						margin-left: 2em;
						white-space: nowrap;
					}
				}
			}
		}
	}

	> footer {
		background-color: #ffffff;
		padding: 1.5em;

		p {
			margin: 0;
			align-self: center;
		}
	}
}
