@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #041119;
}

body .pf-icons {
  position: relative;
}

body .pf-icons .nav-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #36393e;
  margin-bottom: 20px;
  -webkit-transition: background-color 0.5s 0s ease-in-out;
  transition: background-color 0.5s 0s ease-in-out;
  cursor: pointer;
}

body .pf-icons .nav-con.active, body .pf-icons .nav-con:hover {
  background-color: #af112e;
}

body .pf-icons .nav-con img {
  height: 22px;
  width: 22px;
}

body .btn-rounded {
  border-radius: 44px;
}

body .pbtn {
  border: none;
  outline: none;
  padding: 0.8em 3em;
  width: auto;
  white-space: nowrap;
  -webkit-transition: background-color 0.3s 0s ease-in-out;
  transition: background-color 0.3s 0s ease-in-out;
}

body .pbtn.btn-normal {
  background-color: #af112e;
  outline: none !important;
}

body .pbtn.btn-alt {
  background-color: transparent;
  border: 0.5px solid #af112e;
}

body .pbtn.btn-alt:hover {
  background-color: #af112e;
}

body ._coloredlabel {
  color: #af112e;
}

body .pf-labels {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .pf-labels > h1 {
  text-transform: uppercase;
}

body .pf-labels > h1:nth-child(1) {
  color: #0b1820;
  font-weight: 900;
  font-size: 9em;
  position: absolute;
  width: 100%;
}

body .pf-labels > h1:nth-child(2) {
  font-weight: 900;
  position: relative;
  font-size: 3.7em;
  top: 5px;
  color: #ffffff;
}

body .hr {
  width: 55%;
  border: 1px solid #36393e;
}

#pf-hero {
  position: relative;
  top: -30px;
}

#pf-hero #hero-angle {
  position: absolute;
  height: 100%;
  width: 30%;
  background-image: url("../imgs/rect.png");
}

#pf-hero #hero-img {
  position: relative;
  z-index: 5;
  left: 30px;
}

#pf-hero #hero-text {
  margin: -4rem 0 0rem -7rem;
  padding: 0 5em !important;
  color: #ffffff;
}

#pf-hero #hero-text > #dummy-name {
  font-weight: 900;
  font-size: 50px;
}

#pf-hero #hero-text > p {
  margin-top: 20px;
  line-height: 1.4em;
  font-size: 1.5em;
}

#pf-about {
  margin-top: 4em;
  position: relative;
}

#pf-about .userinfo > h4 {
  padding: 0.5em 0em;
}

#pf-about #johndoe {
  margin-top: -18%;
  position: relative;
}

#pf-about #johndoe::after {
  right: 0px;
  bottom: 0;
  z-index: -1;
  position: absolute;
  width: 85%;
  height: 93%;
  content: " ";
  border: 20px solid #af112e;
  border-radius: 20px;
}

#pf-about ._card {
  border: 1px solid #36393e;
  border-radius: 20px;
  height: 100%;
}

#pf-about ._card > ._coloredlabel {
  font-weight: 900;
  font-size: 60px;
}

#pf-about ._card > p {
  font-size: 28px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 35px;
}

#pf-about ._card > p > .line {
  display: inline-block;
  width: 100px !important;
  height: 2px;
  position: relative;
  margin-right: 20px;
  top: 20px;
  background-color: #ffffff;
}

#pf-about #timeline ._activity {
  margin-bottom: 3em;
}

#pf-about #timeline .label {
  background-color: #36393e;
  color: #ffffff;
  border-radius: 30px;
  text-align: center;
  padding: 0.8em;
  width: 100px;
}

#pf-about #timeline .label.lg {
  width: 200px;
}

#pf-about #timeline .tl-icon {
  position: relative;
  top: -15px;
}

#pf-about #timeline .tl-icon > span {
  width: 2px;
  background-color: #36393e;
}

#pf-portfolio {
  margin-top: 4em;
}

#pf-portfolio #outerbound {
  position: relative;
  margin-bottom: 7%;
}

#pf-portfolio #outerbound::before {
  border: 20px solid #af112e;
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 90%;
  content: " ";
  left: -20%;
  bottom: 25%;
}

#pf-portfolio #secondbound {
  position: relative;
}

#pf-portfolio #secondbound::before {
  border: 20px solid #af112e;
  border-radius: 20px;
  position: absolute;
  margin: 0 auto;
  width: 79%;
  height: 80%;
  left: 12%;
  bottom: 15%;
  content: " ";
  z-index: -1;
}

#pf-portfolio #thirdbound {
  position: relative;
}

#pf-portfolio #thirdbound::before {
  border: 20px solid #af112e;
  border-radius: 20px;
  position: absolute;
  margin: 0 auto;
  width: 120%;
  height: 80%;
  right: -70%;
  left: 0;
  top: 12%;
  content: " ";
  z-index: -1;
}

#pf-contact {
  margin-top: 6em;
}

#pf-contact ._contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#pf-contact ._contact > div {
  width: 50%;
}

#pf-contact .socials {
  position: relative;
}

#pf-contact .socials .nav-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #36393e;
  margin-right: 20px;
  -webkit-transition: background-color 0.3s 0s ease-in-out;
  transition: background-color 0.3s 0s ease-in-out;
  cursor: pointer;
  padding: 30px;
}

#pf-contact .socials .nav-con:hover {
  background-color: #af112e;
}

#pf-contact #form {
  width: 40%;
}

#pf-contact #form .form-control {
  border-radius: 40px;
  background-color: #36393e;
  color: #ffffff;
  padding: 2em;
  border: none !important;
  margin-bottom: 22px;
}

#pf-contact #form .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#pf-footer {
  margin: 6% 0 2%;
}

#pf-footer .footer-underlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pf-footer .footer-underlay h1 {
  font-weight: 900;
  font-size: 4em;
  letter-spacing: 0.1em;
  color: #0b1820;
}

#pf-footer .footer-text {
  color: #ffffff !important;
  font-size: 1.2em;
}

#pf-footer .footer-text nav {
  text-transform: capitalize;
}

#pf-footer .footer-text nav a {
  text-decoration: none;
  -webkit-transition: color 0.2s 0s ease-out;
  transition: color 0.2s 0s ease-out;
}

#pf-footer .footer-text nav a:nth-of-type(2) {
  border-right: 2px solid #36393e;
  border-left: 2px solid #36393e;
}

#pf-footer .footer-text nav a:hover {
  color: #af112e !important;
}

@media screen and (max-width: 1280px) {
  #main-wrapper > section {
    display: none;
  }
  .pf-icons {
    position: absolute !important;
    right: 80px;
    bottom: 100px;
  }
  .pf-labels {
    text-transform: uppercase;
    position: relative;
    margin-bottom: 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pf-labels > h1 {
    text-transform: uppercase;
  }
  .pf-labels > h1:nth-child(1) {
    color: #0b1820;
    font-weight: 900;
    font-size: 9em;
    position: absolute;
    width: 100%;
  }
  .pf-labels > h1:nth-child(2) {
    font-weight: 900;
    position: relative;
    font-size: 3.7em;
    top: 5px;
    color: #ffffff;
  }
  #pf-hero {
    display: block !important;
    background-image: url(../imgs/img1.png), url(../imgs/rect.png);
    background-size: 90% 120%;
    background-position: center -5vh, left 20vh;
    background-repeat: no-repeat;
    height: 650px;
    width: 100%;
  }
  #pf-hero::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: " ";
    top: 0;
    opacity: 0.9;
    background-color: #041119;
  }
  #pf-hero > div {
    position: absolute;
    height: 100%;
  }
  #pf-hero #hero-angle,
  #pf-hero #hero-img {
    display: none;
  }
  #pf-hero #hero-text {
    margin: 0% 5% 0;
    padding: 0em !important;
    color: #ffffff;
  }
  #pf-hero #hero-text > #dummy-name {
    font-size: 2em;
  }
  #pf-hero #hero-text > p {
    line-height: 1.5em;
    width: 80%;
  }
  #pf-about {
    display: block !important;
  }
  #pf-about .userinfo {
    margin: 0 15px !important;
  }
  #pf-about .userinfo > h4 {
    font-size: 1.2em;
  }
  #pf-about .r1 #johndoe {
    margin: -9% auto 5%;
    border: 5px solid #af112e;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: block;
    overflow: hidden;
    background-color: black;
  }
  #pf-about .r1 #johndoe img {
    height: auto !important;
    display: block;
    position: relative;
    left: 5px;
  }
  #pf-about .r1 #johndoe::after {
    display: none;
  }
  #pf-about ._card > p {
    font-size: 25px;
  }
  #pf-contact {
    display: block !important;
  }
  #pf-footer {
    display: block !important;
  }
  #pf-footer .footer-underlay h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 768px) {
  body .pf-labels > h1:nth-child(1) {
    font-size: 5em;
  }
  body .pf-labels > h1:nth-child(2) {
    font-size: 2em;
  }
  #pf-hero {
    background-size: 110% 120%;
  }
  #pf-about .r1 {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    text-align: center;
  }
  #pf-about ._cc {
    margin-bottom: 7%;
  }
  #pf-about ._card > p {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  #pf-contact ._contact {
    display: block;
  }
  #pf-contact ._contact > div {
    width: 100%;
  }
  #pf-contact #form {
    width: 100%;
    margin: 0 !important;
  }
  #pf-footer .footer-underlay {
    margin-top: 20%;
  }
}

@media screen and (max-width: 520px) {
  #pf-hero {
    background-size: 110% 120%;
    background-position: center 3vh, left 20vh;
    height: 600px;
  }
  #pf-hero #hero-text > p {
    line-height: 1.5em;
    font-size: 1.2em;
    width: 100%;
  }
  #pf-about #timeline .label.lg {
    width: auto;
  }
  #pf-contact ._contact h3 {
    font-size: 1.2em;
  }
  #pf-footer .footer-underlay h1 {
    display: none;
  }
}
