@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
body {
  background-color: #fdfdfd;
  font-family: 'Lato', sans-serif;
}

body .lg-logo {
  position: relative;
  top: 4px;
}

.arr-down {
  margin: 0% 0 15%;
}

.notify {
  border: 1px solid #0068ff !important;
  border-radius: 1px;
  background-color: #0068ff !important;
  color: #ffffff !important;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  padding: 0.6em 1.8em;
  -webkit-transition: all 0.4s 0s ease-in-out;
  transition: all 0.4s 0s ease-in-out;
}

.notify:hover {
  background-color: #ffffff !important;
  color: #0068ff !important;
}

#main {
  margin: 7% 0px 0;
}

#main #main-label {
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 55px;
}

#main .notify-input {
  border-radius: 1px;
  padding: 1.7em !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 10px 0px 20px;
}

#main ._section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 50px;
}

#main ._section2 .info-gph::before {
  border-color: #0068ff;
  height: 450px;
  width: 450px;
}

#main ._section2 img {
  position: relative;
  right: -20px;
  height: 95%;
  width: 95%;
}

.sub-sections {
  margin: 10% 0px;
  position: relative;
}

.sub-sections .info-gph {
  position: absolute;
}

.sub-sections .info-gph::before {
  border: 2px solid;
  position: relative;
  width: 400px;
  height: 400px;
  display: block;
  margin: auto;
  content: " ";
  border-radius: 50%;
  z-index: -1;
}

.sub-sections ._section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-sections ._section2 {
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
}

.sub-sections ._section2 > h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  width: 70%;
  margin-bottom: 3%;
}

.sub-sections ._section2 > p {
  font-size: 15px;
  line-height: 28px;
}

#sub-sec-1 ._section1 .info-gph::before {
  border-color: #ffdb00;
}

#sub-sec-2 ._section1 .info-gph::before {
  border-color: #0068ff;
}

#sub-sec-3 ._section1 .info-gph::before {
  border-color: #ff7272;
}

#sub-sec-4 ._section1 .info-gph::before {
  border-color: #ffdb00;
}

#sub-sec-5 ._section1 .info-gph::before {
  border-color: #0068ff;
}

#sub-sec-6 ._section1 .info-gph::before {
  border-color: #ff7272;
}

#footer {
  margin-top: 10%;
  background-color: #0068ff;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer p {
  margin: 0;
}

#footer #social-icons > a:not(:last-of-type) {
  margin-right: 15px;
}

@media screen and (max-width: 991px) {
  .arr-down {
    margin: 15% 0;
  }
  #main ._section2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: none;
  }
  .sub-sections .info-gph::before {
    width: 300px;
    height: 300px;
  }
  .sub-sections .info-gph + img {
    height: 80%;
  }
  .sub-sections ._section2 > h4 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .lg-logo {
    display: none;
  }
  .sm-logo {
    display: block !important;
  }
  .content.container {
    max-width: 100%;
  }
  #main ._section2 {
    display: none;
  }
  #main #main-label {
    font-size: 30px;
    line-height: 40px;
  }
  .sub-sections {
    margin: 20% 5%;
  }
  .sub-sections .info-gph {
    display: block;
    margin: 0 auto 5%;
  }
  .sub-sections .info-gph::before {
    display: none;
  }
  .sub-sections .info-gph + img {
    width: 100% !important;
    margin-bottom: 10%;
  }
  .sub-sections > .row {
    display: block !important;
  }
  .sub-sections ._section2 {
    display: block;
  }
  .sub-sections ._section2 > h4 {
    text-align: center;
  }
  .sub-sections ._section2 > p {
    text-align: justify;
  }
}
