@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
$p-blue: #0068ff;
$p-yellow: #ffdb00;
$p-pink: #ff7272;

body {
	background-color: #fdfdfd;
	font-family: "Lato", sans-serif;

	.lg-logo {
		position: relative;
		top: 4px;
	}
}

.arr-down {
	margin: 0% 0 15%;
}

.notify {
	border: 1px solid $p-blue !important;
	border-radius: 1px;
	background-color: $p-blue !important;
	color: #ffffff !important;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	padding: 0.6em 1.8em;
	transition: all 0.4s 0s ease-in-out;

	&:hover {
		background-color: #ffffff !important;
		color: $p-blue !important;
	}
}

@mixin mq($arg) {
	@media screen and (max-width: $arg) {
		@content;
	}
}

#main {
	margin: 7% 0px 0;

	#main-label {
		font-style: normal;
		font-weight: 600;
		font-size: 44px;
		line-height: 55px;
	}

	.notify-input {
		border-radius: 1px;
		padding: 1.7em !important;
		box-shadow: none;
		margin: 10px 0px 20px;
	}

	._section2 {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		bottom: 50px;
		.info-gph::before {
			border-color: $p-blue;
			height: 450px;
			width: 450px;
		}
		img {
			position: relative;
			right: -20px;
			height: 95%;
			width: 95%;
		}
	}
}

.sub-sections {
	margin: 10% 0px;
	position: relative;

	.info-gph {
		position: absolute;
		z-index: -1;
		&::before {
			border: 2px solid;
			position: relative;
			width: 400px;
			height: 400px;
			display: block;
			margin: auto;
			content: " ";
			border-radius: 50%;
			z-index: -1;
		}
	}

	._section1 {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	._section2 {
		align-self: center !important;
		> h4 {
			font-style: normal;
			font-weight: 600;
			font-size: 28px;
			line-height: 38px;
			width: 70%;
			margin-bottom: 3%;
		}
		> p {
			font-size: 1em;
			line-height: 28px;
		}
	}
}

#sub-sec-1 {
	._section1 {
		.info-gph::before {
			border-color: $p-yellow;
		}
	}
}

#sub-sec-2 {
	._section1 {
		.info-gph::before {
			border-color: $p-blue;
		}
	}
}

#sub-sec-3 {
	._section1 {
		.info-gph::before {
			border-color: $p-pink;
		}
	}
}

#sub-sec-4 {
	._section1 {
		.info-gph::before {
			border-color: $p-yellow;
		}
	}
}

#sub-sec-5 {
	._section1 {
		.info-gph::before {
			border-color: $p-blue;
		}
	}
}

#sub-sec-6 {
	._section1 {
		.info-gph::before {
			border-color: $p-pink;
		}
	}
}

#footer {
	margin-top: 10%;
	background-color: $p-blue;
	color: #ffffff;
	display: flex;
	p {
		margin: 0;
	}
	#social-icons {
		> a:not(:last-of-type) {
			margin-right: 15px;
		}
	}
}

@include mq(991px) {
	.arr-down {
		margin: 15% 0;
	}
	#main {
		._section2 {
			justify-content: center;
			display: none;
		}
	}
	.sub-sections {
		.info-gph {
			&::before {
				width: 320px;
				height: 320px;
			}
			& + a {
				display: contents;
				> img {
					height: 80%;
				}
			}
		}

		._section2 {
			> h4 {
				width: 100%;
			}
		}
	}
}

@include mq(768px) {
	.lg-logo {
		display: none;
	}
	.sm-logo {
		display: block !important;
	}
	.content.container {
		max-width: 100%;
	}

	#main {
		._section2 {
			display: none;
		}
		#main-label {
			font-size: 30px;
			line-height: 40px;
		}
	}

	.sub-sections {
		margin: 20% 5%;
		.info-gph {
			display: block;
			margin: 0 auto 5%;
			&::before {
				display: none;
			}
			& + a > img {
				width: 100% !important;
				margin-bottom: 10%;
			}
		}

		> .row {
			display: block !important;
		}
		._section2 {
			display: block;
			> h4 {
				text-align: center;
			}
			> p {
				text-align: justify;
			}
		}
	}
}
